[user]
	name = nasustim
	email = mitsuhibino@gmail.com

# Apply alternative configuration in project dir
[includeIf "gitdir:~/project/**"]
  path = ~/.gitconfig_alt
[credential]
	helper = manager-core
[fetch]
	prune = true
