name: Test workflows
on:
  push:
    paths:
      - ".github/workflows/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
      - uses: reviewdog/action-actionlint@v1.37.1
