name: Test Renovate Config

on:
  pull_request:
    paths:
      - renovate.json

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
      - run: npx --package renovate -c 'renovate-config-validator'

concurrency:
  cancel-in-progress: true
  group: ${github.workflow}-${{ github.ref }}