name: Test workflows
on:
  push:
    paths:
      - ".github/workflows/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: reviewdog/action-actionlint@v1.69.1
