name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 30
    strategy:
      matrix:
        os: 
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.6.0
      - run: make
      - run: make clean
